*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}
body{

    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #f33636;
}
.hima:hover{

    background-color: rgb(75, 154, 224);
}
.main-herder{
   
    background-color:  aliceblue;
    padding: 1rem;
    position: sticky;
    top: 0;
    z-index: 1000;
}
 .nana{

    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1100px;
    margin: auto;
    padding: 0rem;
}
.logo{

    font-size: 1.5rem;
    font-weight: 700;
}
.nav-link{
    
    display: flex;
    gap: 2rem;
}
.nav-link a:hover{

    color: #3792e7;
}
.nav-link a{
    transition: color 0.3 ease;
}
.minn-footer{
    background-color: #f33636;
    color: #ffffff;
    text-align: center;
    padding: 1.5rem 0;
}
.two{
    padding: 4rem 2rem;
    margin-top: 4rem;
    text-align: center;
    background-color: #2bb1e6;
}
h1{
    margin-top: 10rem;
}
.minn-footer{
    background-color: #d15c5c;
    color: #ffffff;
    text-align: center;
    padding: 1.5rem 0;
}
.p{
    margin-top: 2.5rem;
}
img{
    width: 19.5rem;
    margin: 2.5rem;
    border-radius: 1rem;
}
.hima:hover{
    background-color: #f33636;
}
.mama5{
    display: inline-block;
    background-color: #d15c5c;
    padding: 0.5rem 1rem;
    border-radius: 10px;
    margin-top: 3rem;
    transition: background-color 0.5 ease;
    margin-right: auto;
}
.mama5:hover{
    background-color: #ffffff;
}
.chan{
  text-align: center;
}
.box{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(300px,1ft));
    gap: 2rem;
    max-width: 1100px;
    margin: auto;
}

     
